<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Galería</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="listaMultimedia.length > 0; else sinDatos">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-sm="6" size-md="4" *ngFor="let item of listaMultimedia">
          <ion-card class="galeria-card">
            <img [src]="item.urlImagen" alt="Imagen subida" />
            <ion-card-header>
              <ion-card-title>{{ item.texto }}</ion-card-title>
              <ion-card-subtitle>{{ item.createdAt| date:'short' }}</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ng-template #sinDatos>
    <ion-text color="medium">
      <p class="ion-text-center">No hay imágenes para mostrar.</p>
    </ion-text>
  </ng-template>
</ion-content>
